<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>stack</title>
</head>
<body>
    <form action="#" th:action="@{/}" th:object="${stackObject}" method="post">
        <input type="submit" class="button" name="push" value="PUSH"/>
        <input type="submit" class="button" name="peek" value="PEEK"/>
        <input type="submit" class="button" name="view" value="VIEW"/>
        <input type="submit" class="button" name="delete" value="RESET"/>
    </form>
    <fieldset>
        <div></div>
    </fieldset>
</body>
</html>