<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>stack</title>
</head>
<body>
    <form action="#" th:action="@{/welcome}" th:object="${welcome}" method="post">
        <input type="submit" name="push" value="PUSH"/>
        <input type="submit" name="pop" value="POP"/>
        <input type="submit" name="view" value="VIEW"/>
        <input type="submit" name="delete" value="RESET"/>
    </form>
</body>
</html>