<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stack</title>
</head>
<body>
    <form:form action="Operate" method="post">
        <input type="submit" class="button" value="PUSH">
        <input type="submit" class="button" value="POP">
        <input type="submit" class="button" value="VIEW">
        <input type="submit" class="button" value="RESET">
    </form:form>
</body>
</html>